div{
    border: 1px solid;
    text-align: center;
    font-size: 25px;
}
.satu{
    background-color: yellow;
    margin-bottom: 1%;
    position: absolute;
    height: 100px;
    width: 15%;
}
.dua{
    background-color: orange;
    margin-bottom: 1%;
    height: 100px;
    width: 83%;
    margin-left: auto;
}
.tiga{
    background-color: palegreen;
    margin-bottom: 1%;
    height: 500px;
    width: 15%;
    position: absolute;
}
.empat{
    background-color: rgb(253, 253, 253);
    margin-bottom: 1%;
    height: 500px;
    width: 64%;
    left: 17%;
    position: absolute;
}
.lima{
    background-color: aqua;
    margin-bottom: 1%;
    height: 500px;
    width: 17%;
    margin-left: auto;
}
.enam{
    background-color: dodgerblue;
    margin-bottom: 1%;
    height: 100px;
}